{{#paper-card as |card|}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      <h2>Round Clock</h2>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}MM:SS{{/text.headline}}
      {{#text.subhead}}Round 1{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.actions}}
    {{#paper-button}}
      {{#paper-button warn=true}}End Game{{/paper-button}}
    {{/paper-button}}
    {{#paper-button}}
      {{#paper-button raised=true primary=true}}Play{{/paper-button}}
    {{/paper-button}}
  {{/card.actions}}
{{/paper-card}}

<div class="layout-row layout-xs-column">
  <div class="flex">
    {{#paper-card as |card|}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          <h2>Current Blinds</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}5/10{{/text.headline}}
          {{#text.subhead}}No Ante{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  </div>

  <div class="flex">
    {{#paper-card as |card|}}
      {{#paper-toolbar class="secondary-toolbar"}}
        {{#paper-toolbar-tools}}
          <h2>Up Next</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}10/20{{/text.headline}}
          {{#text.subhead}}Ante: 1{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  </div>

  <div class="flex">
    {{#paper-card as |card|}}
      {{#paper-toolbar class="secondary-toolbar"}}
        {{#paper-toolbar-tools}}
          <h2>Game Clock</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}HH:MM:SS{{/text.headline}}
          {{#text.subhead}}Started: HH:MM{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  </div>
</div>