@import 'materialize';

body > .ember-view {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .section {
    background-color: $primary-color;
  }
}

main {
  flex: 1 0 auto;
}

@import 'game-control';
