{{#paper-toolbar class="application-toolbar md-whiteframe-1dp" as |toolbar|}}
  {{#toolbar.tools}}
    <h2>{{link-to 'Ember Poker' 'index'}}</h2>
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{liquid-outlet}}