<main>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="white-text">Ember Poker</h2>
          <h5 class="light red-text text-lighten-4">Some marketing text here.</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {{liquid-outlet}}
  </div>
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12">
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2015 Jon Pitcherella
    </div>
  </div>
</footer>
