<div class="container">

  <h2 class="col s12 header">Recent Games</h2>
  <div class="section">
    <ul class="collection">
      <a class="collection-item" href="#">Item 1</a>
      <a class="collection-item" href="#">Item 1</a>
      <a class="collection-item" href="#">Item 1</a>
      <a class="collection-item" href="#">Item 1</a>
    </ul>
  </div>

  <h2 class="col s12 header">All Games</h2>
  <div class="section">
    <ul class="collection">
      <a class="collection-item" href="#">Item 1</a>
      <a class="collection-item" href="#">Item 1</a>
      <a class="collection-item" href="#">Item 1</a>
      <a class="collection-item" href="#">Item 1</a>
    </ul>
  </div>

</div>
